
<div>
@if (ViewBag.ProductsInCart != null && ((List<ShoppingCart>)ViewBag.ProductsInCart).Any())
{
        <h1 style="background-color: #0f161e; color: #fff; margin-top:65px;">Your Cart</h1>
        
    <table class="table table-striped table-bordered" style="width: 600px; margin: 50px auto 0;">
        <thead>
            <tr>
                <th style="text-align: center;">ProductName</th>
                <th style="text-align: center;">Product Id</th>
                <th style="text-align: center;">Quantity</th>
                <th style="text-align: center;">Price</th>
                <th style="text-align: center;">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.ProductsInCart)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.ProductId</td>
                    <td>@item.Quantity</td>
                    <td>@item.Price</td>
                    <td>
                        <form asp-controller="ShoppingCart" asp-action="RemoveFromCart" method="post">
                            <input type="hidden" name="productId" value="@item.ProductId" /> 
                            <button type="submit" class="btn btn-danger">Remove</button>
                        </form>
 
                    </td>

                </tr>
            }
        </tbody>
    </table>

    <div class="text-center mt-3">
        <h3>Total Price: @ViewBag.TotalPrice</h3>
    </div>

    <div class="text-center mt-3">
        <form asp-controller="ShoppingCart" asp-action="ClearCart" method="post">
            <button type="submit" class="btn btn-danger">Clear Cart</button>
        </form>
    </div>
}
else
{
    <p class="text-center mt-3">No items in the shopping cart.</p>
}
    </div>
